h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  color: #232323;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10%;
}

h2::after {
  content: "";
  display: inline-block;
  width: 50%;
  height: 4px;
  background: linear-gradient(0deg, #236a82, #236a82), #ffffff;
  margin-left: auto;
}

.avatar {
  position: absolute;
  left: 8.47%;
  right: 63.89%;
  top: 102.71%;
  bottom: 66.5%;
  z-index: 6;
  top: 15vh;
}

article {
  width: 50%;
  text-align: justify;
  padding-top: 10%;
  margin-left: 40%;
}

.grid {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  justify-content: space-around;
  align-items: center;
}

.titleH3 {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #236a82;
  margin: 6% auto;
  width: 10%;
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bacground2 {
  position: absolute;
  z-index: 0;
}

.on {
  position: absolute;
  z-index: 1;
  top: 86vh;
}
